body {
  font-family: Arial, sans-serif;
}

header {
  background-color: black;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.logo img {
  width: 100px; 
  border-radius: 100px;


}
p{
  font-family: playpen Sans;
  margin-top: 0;
  margin-bottom: 0;
}
img {
  width: 100%;
}

#search-box {
  margin-top: 10px;
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}

#search-button {
  padding: 8px 20px;
  background-color: #6f6f6f;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#search-button:hover {
  background-color: #565555;
  transition: 0.15s;
}

#serch-button:active{
  background-color: black;
}

#checkout-button {
  padding: 8px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#checkout-button:hover {
  background-color: #555;
}

nav {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  list-style: none;
}

main {
  background-image: url(img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  text-align: center;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-family: playpen Sans;
  
}
a .navbar .dropbtn .dropdown{
  display: inline;
  margin-left: 100px;
}
.dropdown {

  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: playpen Sans;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: brown;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
#content {
  display: inline-block;

}
.homeMenu{
  vertical-align: top;
  width: 50%;
  display: inline-block;
  margin-top: 100px;
  margin-left: 100px;
}
.homeMenu2{
  margin-top: 270px;
  vertical-align: top;
  width: 40%;
  display: inline-block;
}
.item1{
  width: 30%;
  vertical-align: top;
  display: inline-block;
}
.depContent, .depr1, .depMore, .depTitle{
  margin-left: 15px;
  text-align: start;
}
.depr1{
  height: 550px;
  background-color: white;
}
.depTitle{
  color: brown;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.depContent{
  line-height: 20px;
  font-size: 14px;
  margin-right: 10px;

}
.depMore{
  margin-top: 20px;
}
.more{
  color: brown;
}
.item2{
  width: 30%;
  vertical-align: top;
  display: inline-block;
}
.item3{
  width: 30%;
  vertical-align: top;
  display: inline-block;
}
.title, .text, .welcome, .welcome2  {
  color: white;
}
.title{
  font-size: 80px;
  font-weight: bold;
  margin-top: 75px;
  margin-bottom: 75px;
}
.welcome{
  font-size: 30px;
  font-weight: bold;
  margin-top: 30px;
}
.welcome2{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 40px;
}
.text{
  line-height: 30px;
  font-size: 20px;
}
.orderBtn{
  margin-top: 100px;
  width: 200px;
  height: 50px;
  border-style: solid;
  border-color:white;
  background-color: black;
  color: white;
  opacity: 100%;
  font-size: 20px;
  font-family: playpen Sans;
}
.orderBtn:hover{
  border-style: solid;
  border: black;
  background-color: white;
  border-color: black;
  color: #333;
  cursor: pointer;
  transition: 0.30s;
}
.orderBtn:active{
  background-color: grey;
}

#news-p  {
  font-size: 5rem;
  font-weight: bold;
  line-height: 1.08;

}
#title-news{
  font-size: x-large;
  font-weight: bold;
}
.date{
  margin-left: 100px;
  font-weight: normal;
}
.content-main{
  display: flex;
  margin-bottom: 40px;
  
}.content-main2{
  display: flex;
  
}

.img-content1{
  margin-left: 100px;
  width: 700px;
  height: auto;
  margin-right: 50px;
  margin-top: 18px;
  
}
#content-button{
  padding: 10px 20px;
  font-size: 16px;
  background-color: black;
  color: white;
}
#content-button:hover{
  background-color: white;
  color:black;
  cursor: pointer;
  transition: 0.20s;
}
#content-button:active{
  background-color: #555;
}
.text-content{
  font-size: x-large;
  font-weight: bold;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 2px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.footerP{
  margin-top: 10px;
  margin-bottom: 10px;
}
body, html {
  margin: 0;
  padding: 0;
  height: 100%; 
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

